@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Display Order</th>
            <th>Created On</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>@item.CreatedOn.Date</td>
            </tr>
        }

    </tbody>

</table>
